{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 90,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"]
}
